<a href="https://colab.research.google.com/github/HKubinhetz/DS-ProgrammingLanguages/blob/main/Programming_Languages_Data_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Get the Data

Either use the provided .csv file or (optionally) get fresh (the freshest?) data from running an SQL query on StackExchange: 

Follow this link to run the query from [StackExchange](https://data.stackexchange.com/stackoverflow/query/675441/popular-programming-languages-per-over-time-eversql-com) to get your own .csv file

<code>
select dateadd(month, datediff(month, 0, q.CreationDate), 0) m, TagName, count(*)
from PostTags pt
join Posts q on q.Id=pt.PostId
join Tags t on t.Id=pt.TagId
where TagName in ('java','c','c++','python','c#','javascript','assembly','php','perl','ruby','visual basic','swift','r','object-c','scratch','go','swift','delphi')
and q.CreationDate < dateadd(month, datediff(month, 0, getdate()), 0)
group by dateadd(month, datediff(month, 0, q.CreationDate), 0), TagName
order by dateadd(month, datediff(month, 0, q.CreationDate), 0)
</code>

## Import Statements

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Data Exploration

**Challenge**: Read the .csv file and store it in a Pandas dataframe

In [4]:
df_path = "/content/drive/MyDrive/PythonDS/02 - Programming Languages/QueryResults 2022.csv" 
df_columns = ['DATE', 'TAG', 'POSTS']

df = pd.read_csv(
    filepath_or_buffer=df_path,     # Path
    names=df_columns,               # Columns
    header=0                        # Overwriting existing columns
)

**Challenge**: Examine the first 5 rows and the last 5 rows of the of the dataframe

In [ ]:
df.head()

                  DATE       TAG  POSTS
0  2008-07-01 00:00:00        c#      3
1  2008-08-01 00:00:00  assembly      8
2  2008-08-01 00:00:00         c     83
3  2008-08-01 00:00:00        c#    507
4  2008-08-01 00:00:00       c++    164

In [ ]:
df.tail()

                     DATE     TAG  POSTS
2281  2022-04-01 00:00:00     php   4110
2282  2022-04-01 00:00:00  python  24505
2283  2022-04-01 00:00:00       r   4868
2284  2022-04-01 00:00:00    ruby    499
2285  2022-04-01 00:00:00   swift   1867

**Challenge:** Check how many rows and how many columns there are. 
What are the dimensions of the dataframe?

In [ ]:
df.shape

(2286, 3)

**Challenge**: Count the number of entries in each column of the dataframe

In [ ]:
df.count()

DATE     2286
TAG      2286
POSTS    2286
dtype: int64

**Challenge**: Calculate the total number of post per language.
Which Programming language has had the highest total number of posts of all time?

In [ ]:
df.groupby(by="TAG").sum().sort_values(by="POSTS", ascending=False)

              POSTS
TAG
javascript  2363172
python      1933050
java        1839168
c#          1533404
php         1432627
c++          761737
r            445682
c            378134
swift        311668
ruby         223768
perl          66638
go            60982
delphi        49486
assembly      40143

In [ ]:
top_language_entries = df.groupby(by="TAG").sum().sort_values(by="POSTS", ascending=False).iloc[0].name
num_of_posts = df.groupby(by="TAG").sum().sort_values(by="POSTS", ascending=False).iloc[0]["POSTS"]
print(f"The language with the highest number of posts is {top_language_entries}, with {num_of_posts} entries!")

The language with the highest number of posts is javascript, with 2363172 entries!

Some languages are older (e.g., C) and other languages are newer (e.g., Swift). The dataset starts in September 2008.

**Challenge**: How many months of data exist per language? Which language had the fewest months with an entry?

In [ ]:
df.groupby(by="TAG").count().sort_values(by="POSTS", ascending=False)

            DATE  POSTS
TAG
c#           166    166
assembly     165    165
c            165    165
c++          165    165
delphi       165    165
java         165    165
javascript   165    165
perl         165    165
php          165    165
python       165    165
ruby         165    165
r            163    163
swift        157    157
go           150    150

In [ ]:
top_language_months = df.groupby(by="TAG").count().sort_values(by="POSTS", ascending=False).iloc[0].name
num_of_months = df.groupby(by="TAG").count().sort_values(by="POSTS", ascending=False).iloc[0]["POSTS"]
print(f"The language with the highest number of posts is {top_language_months}, with {num_of_months} entries!")

The language with the highest number of posts is c#, with 166 entries!

## Data Cleaning

Let's fix the date format to make it more readable. We need to use Pandas to change format from a string of "2008-07-01 00:00:00" to a datetime object with the format of "2008-07-01"

In [7]:
# Selecting an individual cell and then converting it to Datetime format
print(pd.to_datetime(df.DATE[1]))

2008-08-01 00:00:00

In [10]:
# Converting the entire column to a Datetime format.
df.DATE = pd.to_datetime(df.DATE)

In [12]:
# Checking the solution
df.head()

        DATE       TAG  POSTS
0 2008-07-01        c#      3
1 2008-08-01  assembly      8
2 2008-08-01         c     83
3 2008-08-01        c#    507
4 2008-08-01       c++    164

## Data Manipulation

**Challenge**: What are the dimensions of our new dataframe? How many rows and columns does it have? Print out the column names and print out the first 5 rows of the dataframe.

**Challenge**: Count the number of entries per programming language. Why might the number of entries be different?

## Data Visualisaton with with Matplotlib

**Challenge**: Use the [matplotlib documentation](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.plot.html#matplotlib.pyplot.plot) to plot a single programming language (e.g., java) on a chart.

**Challenge**: Show two line (e.g. for Java and Python) on the same chart.

# Smoothing out Time Series Data

Time series data can be quite noisy, with a lot of up and down spikes. To better see a trend we can plot an average of, say 6 or 12 observations. This is called the rolling mean. We calculate the average in a window of time and move it forward by one overservation. Pandas has two handy methods already built in to work this out: [rolling()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html) and [mean()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.window.rolling.Rolling.mean.html).